@CHARSET "UTF-8";
	
	html , body{
		overflow:none;
		margin:0 auto;
		width:100%;
		height:100%;
		padding:0;
		background-color:#6ed746;
	}
	.col-md-2{
		display:inline-block;
		float:none;
		margin:0 auto;
		text-align:center;
	}
	/* navbar css */
	.navbar-custom{
		min-height:0px;
		background-image: linear-gradient(to bottom, #fff 0,#fff 100%);
 		/* box-shadow:8px 8px 8px #444; */ 
		border-radius:0px;
		border:solid 0px #6ed746 ;
		margin-bottom:0;	
		/* height:28px !important; */
	}
/* 	.navbar-default .navbar-brand{
		padding-top:3px;
		font-size:12px;
		font-weight:bold;
	}
	.navbar-default li{
		padding-top:3px;
		padding-bottom:5px;
		font-size:8px;
		color:#444;
	}
	.navbar-default li a{
		top:0px;
		height:10px;
		padding-top:0px;
		padding-bottom:0px;
	} */
	/* navbar css end */
	
	/* main contents css */
	#main_contents{
		background-color:#6ed746;
		width:100%;
		margin:0 auto;
	}
	.contents_top{
		background-color:#fff;
		width:100%;
		margin:0 auto;
		text-align:center;
		margin-top:20px;
		
	}
	.contents_top h1{
		position:relative;
		height:100%;
		margin:0 auto;
		color:#6ed746;
		font-size:3em;
		line-height:432px;
	}
	.contents_bottom{
		background-color:#6ed746;
		width:100%;
		height:100%;
		text-align:center;
		margin:0 auto;
	}
	.contents_bottom .text_area{
		margin:0 auto;
		height:100%;
		width:900px;
	}
	.contents_bottom .text_area #notice{
		float:left;
		padding:10px;
		padding-right:20px;
		text-align:left;
		
	}
	.contents_bottom .text_area #rank{
		float:right;
		padding:10px;
		padding-left:20px;
		text-align:right;
		
	}
	.contents_bottom .text_area #notice , #rank hr{
		width:400px;
	}
	
	.main_btn{
		height:300px;
	}
	/* main contents css */
	/* side menu css */
	#side_menu{
		position:absolute;
		display:none;
		right:0px;
		width:300px;
		padding:0;
		margin:0 auto;
		background-color:#3498db;
		z-index:999;
	}
	.image-circle{
		border-radius:50%;
		width:175px;
		height:175px;
		border:4px solid #fff;
		margin:10px;
	}
	.login_box{
		margin:10px;
	}
	#login_btn{
		width:150px;
		margin:5px;
		padding:5px;
		font-size:16px;
	}
	/* side menu css end */
	
	/* modal css */
	.modal-header{
		background-color:#3498db;
		/* border-radius: 6px 6px 0 0; */
	}
	.modal-content{
		width:500px;
		border-radius:0;
	}
	.modal-content .join_box{
		width:400px;
		margin:0 auto;
	}
	.modal-title{
		text-align:center;
		color:#fff;
	}
	/* modal css end */
	
	#home_search , #map_search, #station_search{
		display:inline-block;
		margin:0 auto;
		width:30%;
		align:center;
		text-align:center;
		margin-bottom:20px;
		border-radious:0px;
		border:solid 3px #6ed746;
	}
	#home_search_input , #map_search_input, #station_search_input{
		height:100%;
		font-size:24px;
		border-radius:0px;
	}
	#home_search_btn , #map_search_btn, #station_search_btn{
		width:100px;
		height:52px;
		margin-bottom:10px;
		border-radius:0px;
		background:#6ed746;
		color:#fff;
		font-size:16px;
	}